body {
    margin: 0;
}

/*_________________________________________*/
/*header, nav*/
#black_bar {
    margin-top: 0;
    background-color: black;
    font-family: 'roboto';
    font-size: .7rem;
    color: white;
    /*    text-align: center;*/
    display: flex;
    justify-content: end;
}

#shipping {
    padding-right: 435px;
}

#icons {
    display: flex;
    justify-content: flex-end;
}

/*icons*/
.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
}

.fa-facebook {
    background: black;
    color: white;
}

.fa-instagram {
    background: black;
    color: white;
}

.fa-youtube {
    background: black;
    color: white;
}

#icons a:hover {
    color: #78BFAB;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /*    flex-direction: row;*/
    font-size: 1rem;
    position: sticky;
    top: 4vw;
    width: 100%;

    font-family: 'Roboto';
}

#logo_container {
    text-align: center;

    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
}

#logo {
    width: 7%;
}

nav img {
    width: 15px;
    height: 15px;
}

nav a:link {
    color: black;
    text-decoration: none;
    margin: 10px;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #78BFAB;
    text-decoration: none;
}

nav a:first-child {
    display: inline;
}

/*_________________________________________*/
/*footer*/
footer {
    background-color: black;
    padding-bottom: 1px;
    padding-top: 17px;
}

footer h4 {
    font-family: 'roboto';
    color: white;
    text-align: center;
}

#footer_form #sign_up {
    margin-top: 1.5rem;
    border-radius: 0;
    border: 1px solid transparent;
}

#footer_form {
    display: flex;
    justify-content: center;
}

#subscribe {
    padding: .6rem;
    border: 0;
    background: #5C6F68;
    color: white;
    text-shadow: 0 0 6px rgb(0 0 0 / 40%);
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

#footer_text {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    font-family: 'roboto';
    color: white;
    text-align: center;
    font-size: .8rem;
    padding-left: 50px;
    padding-right: 50px;
}

#footer_text p {
    cursor: pointer;
}

#footer_icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#footer_icons a:hover {
    color: #78BFAB;
}

#rights {
    color: white;
    text-align: center;
    font-family: 'roboto';
    font-size: .8rem;
    margin-top: 30px;
}

/*_________________________________________*/
/*retailer side*/
#main_retailers h1 {
    font-family: 'vortice';
    text-align: center;
}

#retailers_logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    justify-items: center;
    margin-top: 50px;
}

#retailers_logo img {
    width: 40%;
    align-self: center;
}
