body {
    margin: 0;
}

/*_________________________________________*/
/*header, nav*/
#black_bar {
    margin-top: 0;
    background-color: black;
    font-family: 'roboto';
    font-size: .7rem;
    color: white;
    /*    text-align: center;*/
    display: flex;
    justify-content: end;
}

#shipping {
    padding-right: 435px;
}

#icons {
    display: flex;
    justify-content: flex-end;
}

/*icons*/
.fa {
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;

    background: black;
    color: white;
}

#basket {
    text-align: center;
    text-decoration: none;
    margin: 10px 10px;
    color: black;
    background: white;
}

#icons a:hover {
    color: #78BFAB;
}

header {
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /*    flex-direction: row;*/
    font-size: 1rem;
    position: sticky;
    top: 4vw;
    width: 100%;

    font-family: 'Roboto';
    z-index: 3;
}

#logo_container {
    text-align: center;

    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 4;
}

#logo {
    width: 7%;
}

nav img {
    width: 15px;
    height: 15px;
}

nav a:link {
    color: black;
    text-decoration: none;
    margin: 10px;
}

nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #78BFAB;
    text-decoration: none;
}

nav a:first-child {
    display: inline;
}

/*_________________________________________*/
/*footer*/
footer {
    background-color: black;
    padding-bottom: 1px;
    padding-top: 17px;
}

footer p {
    font-family: 'roboto';
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
}

input {
    border-radius: 0;
    border: 1px solid transparent;
    background: #f5f5f5;
    padding: 8px 12px 10px;
    font-size: 1rem;
}

#footer_form {
    display: flex;
    justify-content: center;
}

#subscribe {
    padding: .6rem;
    border: 0;
    background: #5C6F68;
    color: white;
    text-shadow: 0 0 6px rgb(0 0 0 / 40%);
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1.5rem;
}

#footer_text {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    font-family: 'roboto';
    color: white;
    text-align: center;
    font-size: .8rem;
    padding-left: 50px;
    padding-right: 50px;
}

#footer_text p {
    cursor: pointer;
}

#footer_icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#footer_icons a:hover {
    color: #78BFAB;
}

#rights {
    color: white;
    text-align: center;
    font-family: 'roboto';
    font-size: .8rem;
    margin-top: 30px;
}

#footer_email {
    margin-top: 1.5rem;
    border-radius: 0;
}

#footer_email input {
    border-radius: 0;
    border: 1px solid transparent;
}

/*_________________________________________*/
/*team side*/
#team_overskrift {
    font-family: 'vortice-concept';
    text-align: center;
}

main h2:hover {
    color: #78BFAB;
}

.tobias {
    display: grid;
    margin-left: 170px;
    margin-top: 150px;
}

#cirkel {
    z-index: 1;
    grid-column: 1/2;
    grid-row: 1/2;
}


#bisse {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 2;
}

#cirkel2 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.alex {
    display: grid;
    margin-top: 150px;
    margin-left: 130px;
    margin-right: 50px;
    margin-bottom: 150px;
}

#alex_img {
    transform: scaleX(-1);
    grid-column: 4/5;
    z-index: 2;
    grid-row: 1/2;
}

.tobias h2 {
    font-family: 'vortice-concept';
    align-self: center;
    z-index: 2;
    grid-column: 2/3;
    grid-row: 1/2;
}

#insta_tobias {
    font-size: 3em;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 250px;
    background-color: transparent;
    color: #5C6F68;
    margin-right: 145px;
}


#insta_alex {
    font-size: 3em;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    margin-top: 273px;
    background-color: transparent;
    color: #5C6F68;
    margin-left: -100px;
}

.alex h2 {
    font-family: 'vortice-concept';
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    z-index: 2;
}

img {
    max-width: 100%;
    height: auto;
}
